@font-face {
    font-family: 's';
    src: url('./fonts/suit/SUIT-Light.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 's_B';
    src: url('./fonts/suit/SUIT-SemiBold.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 's_H';
    src: url('./fonts/suit/SUIT-Heavy.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
  font-family: 'neo';
  src: url('./fonts/NeoDunggeunmoPro-Regular.woff') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: '2p';
  src: url('./fonts/pressstart2p.woff') format('woff');
  font-weight: 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'neo', sans-serif;
  color: white;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}

/* 배경 이미지 대응 */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./image/background\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}

.top-bar-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid #797979; 
  border-radius: 10px;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 30px;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.logo {
  height: 40px;
  margin-left: 20px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-weight: 400;
}

.awards-section {
  width: 90%;
  margin: 0 auto;
  font-family: 'neo';
  color: white;
  line-height: 1.8;
  padding-top: 150px;
}

.main-title1 {
  font-size: 24px;
  font-weight: 10;
}

.main-title2 {
  font-size: 48px;
  font-weight: 10;
}

.awards-meta {
  max-width: 1024px;
  font-size: 18px;
  font-family: 's';
  font-weight: 10;
  margin-top: 20px;
}

.NMGD-section {
  margin-top: 160px;
  line-height: 1.0;
}

.NMGD-section1 {
  font-weight: 10;
  font-size: 48px;
}

.NMGD-section2 {
  font-weight: 10;
  font-size: 24px;
}

.NMGD-year {
  font-weight: 10;
  font-size: 24px;
  margin-top: 40px;
}

.NMGD-year-img {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 300px) minmax(auto, 300px);
  grid-gap: 150px;
  padding-top: 60px;
  padding-bottom: 200px;
}

.NMGD-year-img img {
  width: 100%;
}
.NMGD-year-img figure {
  text-align: center;
}

.NMGD-year-img p {
  margin-top: -140px;
  margin-left: 65px;
  font-weight: 10;
  font-size: 19px;
  font-family: 's'
}

.works-title {
  line-height: 1.0;
  margin-bottom: 40px;
  font-weight: 10;
}

.works-title1 {
  font-size: 48px;
}

.works-title2{
  font-size: 32px;
}

.three-works {
  font-weight: 10;
}

.three-works1 {
  font-size: 56px;
  font-weight: 10;
  margin-bottom: -20px;
}

.three-works2 {
  font-family: 's_H';
  font-size: 28px;
}

.three-works p {
  font-family: 's';
  font-size: 20px;
  line-height: 1.8;
  margin-top: 30px;
  font-weight: 10;
}

.two-works {
  font-weight: 10;
  margin-top: 100px;
}

.two-works1 {
  font-size: 56px;
  font-weight: 10;
  margin-bottom: -20px;
}

.two-works2 {
  font-family: 's_H';
  font-size: 28px;
}

.two-works p {
  font-family: 's';
  font-size: 20px;
  line-height: 1.8;
  margin-top: 30px;
  font-weight: 10;
}

.one-works {
  font-weight: 10;
  margin-top: 100px;
}

.one-works1 {
  font-size: 56px;
  font-weight: 10;
  margin-bottom: -20px;
}

.one-works2 {
  font-family: 's_H';
  font-size: 28px;
}

.one-works p {
  font-family: 's';
  font-size: 20px;
  line-height: 1.8;
  margin-top: 30px;
  font-weight: 10;
}

.NMGD-awards {
  font-weight: 10;
  font-size: 52px;
  padding-top: 200px;
  padding-bottom: 60px;
}

.NMGD-awards-img {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px);
  grid-gap: 35px;
  padding-top: 0;
  padding-bottom: 200px;
 /*display: grid;
 grid-template-columns: 300px 300px 300px 300px; 
 grid-gap: 35px;
 margin-top: 10px;*/
}

.NMGD-awards-img img {
  width: 100%;
}
.NMGD-awards-img figure {
  text-align: center;
}

.NMGD-awards-img p1 {
  margin-left: 120px;
  margin-bottom: -100px;
  font-weight: 10;
  font-size: 18px;
  font-family: 'neo'
}

.NMGD-awards-img p {
  margin-top: -30px;
  margin-left: 90px;
  font-weight: 10;
  font-size: 19px;
  font-family: 's'
}

footer {
  font-family: s;
  text-align: center;
  font-size: 14px;
  opacity: 0.6;
  padding: 40px 0;
  color: white;
}



@media screen and (max-width: 1024px) {
  body::before {
    background-image: url('./image/background\ 2.png');
  }

  .nav-menu li a {
    font-size: 22px;
  }

  .logo {
    height: 36px;
  }

.NMGD-year-img {
  justify-content: center;
}

  .NMGD-awards-img {
    /* 1024px 이하부터는 한 줄에 2명 */
    grid-template-columns: minmax(auto, 400px) minmax(auto, 300px);
    justify-content: center;
    grid-gap: 130px;
  }


  footer {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  body::before {
    background-image: url('./image/background\ 3.png');
  }

  .nav-menu {
    flex-direction: row;
    gap: 20px;
    position: static;
    background: none;
    padding: 0;
  }

  .nav-menu li a {
    font-size: 15px;
  }

  header {
    top: 20px;
    left: 20px;
    right: 20px;
  }

  .logo {
    height: 30px;
    margin-left: 10px;
  }

  .main-title1 {
    font-size: 18px;
  }

.main-title2 {
  font-size: 38px;
}

.awards-meta {
  font-size: 12px;
}

.NMGD-section1 {
  font-size: 42px;
}

.NMGD-section2 {
  font-size: 23px;
}

.works-title1 {
  font-size: 40px;
}

.works-title2 {
  font-size: 28px;
}

.three-works1, .two-works1, .one-works1 {
  font-size: 42px;
}

.three-works2, .two-works2,  .one-works2 {
  font-size: 21px;
}

.three-works p, .two-works p, .one-works p {
  font-size: 15px;
}

.NMGD-awards {
  font-size: 38px;
}


  .NMGD-year-img, .NMGD-awards-img {
    /* 768px 이하부터는 세로 배열 */
    grid-template-columns: minmax(auto, 300px);
    grid-gap: 60px; /* 세로 배열 이미지 간 간격 */
    justify-content: center;
  }

  footer {
    font-size: 12px;
  }
}



/* 뷰포트 가로폭이 좁은(420dp 이하) 스마트폰 대응 미디어쿼리 */
@media screen and (max-width: 420px) {
  .nav-menu {
    gap: 10px;
  }
  .nav-menu li a {
    font-size: 12px;
  }

  .main-title1 {
    font-size: 18px;
  }

.main-title2 {
  font-size: 38px;
}

.awards-meta {
  font-size: 12px;
}

.NMGD-section1 {
  font-size: 42px;
}

.NMGD-section2 {
  font-size: 23px;
}

.works-title1 {
  font-size: 40px;
}

.works-title2 {
  font-size: 28px;
}

.three-works1, .two-works1, .one-works1 {
  font-size: 42px;
}

.three-works2, .two-works2,  .one-works2 {
  font-size: 21px;
}

.three-works p, .two-works p, .one-works p {
  font-size: 15px;
}

.NMGD-awards {
  font-size: 38px;
}

  .NMGD-year-img, .NMGD-awards-img {
    justify-content: center;
  }
}